<div class="container">
    <form class="login">
        <div>
            <input type="text" placeholder="Username" id="UserLogin" />
        </div>

        <div>
            <input type="text" placeholder="Password" id="PasswordLogin" />
        </div>
        <div class="button">
            <button type="submit"> LOGIN </button>
        </div>
    </form>

    <br>
    <br>

    <h4>
        NOT A MEMBER YET? SIGN-UP!
    </h4>
    <form class="signup">
        <div>
            {{!-- <label for="Username-Signup"> Username </label> --}}
            <input type="text" placeholder="Create Username" id="UserSignup" />
        </div>

        <div>
            <input type="text" placeholder="Create Password" id="PasswordSignup" />
        </div>
        <div class="button">
            <button type="submit"> SIGN-UP </button>
        </div>
    </form>
</div>
<br>

<p>
    If you are an on-premise keg owner, please
    email us at setup@killthekeg.com to activate
    access to your portal
</p>