<form class="login">
    <div>
        <label for="Username-Login"> Username: </label>
        <input type="text" id="UserLogin" />
    </div>

    <div>
        <label for="Password"> Password: </label>
        <input type="text" id="PasswordLogin" />
    </div>
        <div>
            <button type="submit"> LOGIN </button>
    </div>
</form>

    <h4>
        NOT A MEMBER YET? SIGN-UP!
    </h4>
<form class="SignUp">
    <div>
        <label for="Username-Signup"> Username </label>
        <input type="text" id="UserSignup" />
    </div>

    <div>
        <label for="Password-Signup"> Password </label>
        <input type="text" id="PasswordSignup" />
    </div>
    <div>
            <button type="submit"> SIGN-UP </button>
    </div>


</form>
    <p>
        If you are an on-premise keg owner, please
email us at setup@killthekeg.com to activate
access to your portal
    </p>